@import "compass";

.clear{clear:both;font-size: 0;line-height: 0;}
.clearfix {
  *zoom: 1;
  &:before,&:after{
    display: table;
    line-height: 0;
    content: "";
  }
  &:after{
    clear: both;
  }
}

.wrapper {
  padding: 10px;
}

.sidebar{

  @include box-sizing(border-box);
  width: 300px;
  float:right;
  padding:0 20px 0;

  section {

    border: 1px #000 solid;

    h3{
      border-bottom: 1px #000 solid;
      line-height: 30px;
      padding-left: 5px;
    }

    ul{
      margin: 5px 0;
      li{
        padding: 5px;
        line-height: 20px;
      }

    }


  }

}

.main-container{

  @extend .clearfix;

  margin-right: 300px;
  padding-right: 20px;
  border-right: 1px #000 solid;

  header {

    .category-list{
      display: block;
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      border: 1px #000 solid;

      li{
        border-left:1px #000 solid;
        @include box-flex(1);
        text-align: center;
        line-height: 50px;
      }

      li:first-child{
        border-left:0;
      }

    }

    h1{
      line-height: 50px;
      font-size: 30px;
      text-align: center;
    }

  }

  .zone-list{

    & > li{
      @extend .clearfix;
      border: 1px #000 solid;

      h2{
        line-height: 30px;
        text-align: left;
        border-bottom: 1px #000 solid;
        padding-left: 10px;
      }

      section{

        @include box-sizing(border-box);
        float: left;
        width:33.33%;
        border-left: 1px #000 solid;
        padding:10px;

        h3{
          line-height: 20px;
          border-bottom: 1px #ccc dashed;
          margin-bottom: 5px;
          padding-bottom: 5px;
        }

        ul {

          li{

            line-height: 25px;

            .close{
              float: right;
              line-height: 15px;
              font-size: 15px;
              border: 1px #000 solid;
              margin:5px 20px 0 0;
            }



          }

        }

        input[type=button] {

          border: 1px #000 solid;
          padding: 5px;
          margin: 0;

        }


      }

      section:nth-child(2){
        border: 0;
      };

    }

  }




}