@import "compass";

.clear{clear:both;font-size: 0;line-height: 0;}
.clearfix {
  *zoom: 1;
  &:before,&:after{
    display: table;
    line-height: 0;
    content: "";
  }
  &:after{
    clear: both;
  }
}

.wrapper {
  padding: 20px;
  position: relative;
}

.sidebar{

  @include box-sizing(border-box);
  width: 300px;
  float:right;
  padding:0 0 0 20px;
  position: absolute;
  right: 20px;
  top:20px;

  section {

    border: 1px #000 solid;

    h3{
      border-bottom: 1px #000 solid;
      line-height: 30px;
      padding-left: 5px;
    }

    ul{
      margin: 5px 0;
      li{
        padding: 5px;
        line-height: 20px;
      }
    }

  }

}

.main-container{

  @extend .clearfix;

  margin-right: 300px;
  padding-right: 20px;
  border-right: 1px #000 solid;

  header {

    .category-list{
      display: block;
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      border: 1px #000 solid;

      li{
        border-left:1px #000 solid;
        @include box-flex(1);
        text-align: center;
        line-height: 50px;
      }

      li:first-child{
        border-left:0;
      }

    }

    h1{
      line-height: 50px;
      font-size: 30px;
      text-align: center;
    }

  }

  .zone-list{


    & > li{
      @extend .clearfix;
      border: 1px #000 solid;
      margin-top: 10px;

      h2{
        line-height: 30px;
        text-align: left;
        border-bottom: 1px #000 solid;
        padding-left: 10px;
      }

      section{

        @include box-sizing(border-box);
        float: left;
        width:33.33%;
        border-left: 1px #000 solid;
        padding:10px;

        h3{
          line-height: 20px;
          border-bottom: 1px #ccc dashed;
          margin-bottom: 5px;
          padding-bottom: 5px;
        }

        ul {

          li{

            line-height: 25px;

            .close{
              float: right;
              line-height: 15px;
              font-size: 15px;
              border: 1px #000 solid;
              margin:5px 20px 0 0;
              cursor: pointer;
            }

          }

        }

        input[type=button] {

          border: 1px #000 solid;
          padding: 5px;
          margin: 0;
          cursor: pointer;

        }


      }

      section:nth-child(2){
        border: 0;
      };

    }

    & > li:first-child {margin: 0;}

  }

}

.dialog{

  width:25%;
  border: 1px #000 solid;
  padding: 10px;
  background: #fff;
  position: absolute;
  display: none;

  input[type="text"] {
    @include box-sizing(border-box);
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }

  input[type="button"] {
    float: left;
    margin-left: 20px;
    border: 1px #000 solid;
    background: #ccc;
  }

  input[type="button"]:nth-child(2){
    margin-left: 0;
  }


}


@media all and (max-width: 960px){
  .sidebar{
    clear:both;
    width:100%;
    position: static;
    padding: 0px;
    margin: 20px 0 20px 20px;
  }
  .main-container{
    width: 100%;
  }

}

@media all and (max-width: 640px){

  .sidebar{
    clear:both;
    width:100%;
    position: static;
    padding: 0px;
    margin: 20px 0 20px 20px;
  }
  .main-container{
    width: 100%;
    .zone-list {
      li {
        section{
          width:100%;
          border: 0px;
          border-bottom: 1px #ddd solid;
        }
        section:nth-child(2){
          border-bottom: 1px #ddd solid;
        };
        section:last-child{
          border-bottom: 0px #000 solid;
        };
      }
    }

  }

}

